.my-first-grid {
  /* inline-grid the grid width will be the content width
grid the grid will take all available space */
  display: grid;
  gap: 10px;

  grid-template-rows: 200px 200px;
  grid-template-columns: 200px 200px;
  background-color: violet;
  outline: 2px solid blue;
  grid-auto-rows: 200px;
  grid-auto-columns: 200px;
}

.grid-item-1 {
  grid-row: 1;
  grid-column: 1;
}

.grid-item-2 {
  grid-row: 1;
  grid-column: 2;
}

.grid-item-3 {
  grid-row: 2;
  grid-column: 1;
}

.grid-item-4 {
  grid-row: 2;
  grid-column: 2;
}
[class^="grid-item"] {
  outline: 3px dashed #f90;
  font-size: 30px;
  color: aqua;
  /* Centre contents*/
  display: grid;
  justify-content: center;
  align-items: center;
}
